$orange: #d9541e;
$blue: #005A84;
$color1: $blue;
$color2: #d5c5b8;
$form-color: $blue;

body{
  overflow-x: hidden;
}

.space-out{
  margin-top: 5%;
  margin-bottom: 5%;
}

.input-field{
  margin-left: -5px;
}

#contest-form{
  padding: 0 3%;
  .btn{
    background-color: $blue !important;
  }
}

.mobile-prizing{
  padding: 0 3%;
}

.collection{
  // border: 8px solid $color1;
  background-color: white !important;
  color: $blue !important;
  border-top: 0px solid transparent !important;
  border-bottom: 0 !important;
  .collection-item, .collection-header{
    border-bottom: 2px solid $blue !important;
    border-top: 0px solid transparent !important;
    background-color: white !important;
    padding: 20px 20px !important;
    color: $blue !important;
    .tix{
      background-color: $blue !important;
      i{color: white !important;}
    }
  }
}

.valign{
  width: 100%;
}

#hidden_iframe{
  display: none;
}

.full-w{
  width: 100%;
}

// FORMS

.input-field label.active {
  font-size: 0.8rem;
  transform: translateY(-180%);
  color: $blue;
}

/* label color */
.input-field label {
  color: $blue;
  padding-left: 1%;
}

label[for=rules], label[for=emails]{
  color: $blue !important;
  padding-left: 30px !important;
  margin-bottom: 3%;
}

.select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: -5px;
    top: 0;
    font-size: 10px;
    background-color: $blue !important;
    color: white !important;
    z-index: 99999;
    width: 50px;
    height: 100%;
    text-align: center;
    line-height: 50px;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid transparent !important;
    box-shadow: 0 1px 0 0 transparent !important;
}
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: $form-color;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid $form-color;
   box-shadow: 0 1px 0 0 $form-color;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid $form-color;
   box-shadow: 0 1px 0 0 $form-color;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid $form-color;
   box-shadow: 0 1px 0 0 $form-color;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: $form-color;
 }

span.error{
  position: relative;
  display: block;
  color: red;
}

.error-box{
  // height: 25px;
}

input{
  background-color: rgba(0,0,0,0.05) !important;
  color: $blue !important;
  padding-left: 1% !important;
}

input:not([type]):focus:not([readonly]),
input:not([email]):focus:not([readonly]){
  border-bottom: 1px solid $form-color;
  box-shadow: 0 1px 0 0 $form-color;
}

label.active{
  color: $blue !important;
}

input:not([email]):focus:not([readonly])+label,{
  // color: purple !important;
}

input[type="checkbox"].filled-in:checked+label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid $blue;
    background-color: $blue;
    z-index: 0;
}

input[type="checkbox"].filled-in:checked+label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

input[type="checkbox"].filled-in:not(:checked)+label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid $blue !important;
    top: 0px;
    z-index: 0;
}

input:not([type]),
input[type=email],
.select-wrapper input.select-dropdown{
  border-bottom: 1px solid $blue;
}

.caret{
  color: white !important;
  cursor: pointer;
}

.dropdown-content{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
}

.select-dropdown{
  li span{
    color: $blue !important;
  }
}

input, select, textarea{
    color: $form-color;
}

textarea:focus, input:focus {
    color: $form-color;
}

// dropdown

.dropdown-content li>span {
  color: $form-color;
  z-index: 99999999;
}

.tix{
  padding-left: 8px;
  padding-right: 8px;
}

.tix:nth-child(odd){
  margin-right: 8px;
}

.thanks{
  color: white !important;
}

#tour-dates{
  p{
    display: inline;
  }
}

.collection-item div{
  position: relative;
}

.secondary-content{
  position: absolute !important;
  right: 0;
  top: -7px;
}

.dropdown-content::-webkit-scrollbar {
    width: 12px;
    z-index: 9999999;
}

.dropdown-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    z-index: 9999999;
}

.dropdown-content::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    z-index: 9999999;
}


@media #{$medium-and-down} {
  .submit{
    margin-top: 5%;
  }
}

nav{
  background-color: $orange !important;
  z-index: 99999;
  box-shadow: 0px 0px 0px !important;
}


.shadowed {
  -webkit-filter: drop-shadow(2px 6px 0px rgba(0,0,0,0.2));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}


#preloader  {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: light-blue;
     z-index: 99;
    height: 100%;
    z-index: 9999999999999999;
    .container .row{
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
 }

.loaderimg {
    width: 174px;
    height: 208px;
    margin: 0 auto !important;
    background-image: url('https://s3.amazonaws.com/myfangate.com/peppapig/mudpuddle.gif');
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
 }

.brand-img{
  max-height: 60px;
  margin-top: 9px !important;
  z-index: 9999999999;
  position: relative;
}

.brand-logo{
  z-index: 1;
}

.button-collapse{
  color: blue;
}

.break-word{
  word-wrap: break-word !important;
  width: 100% !important;
}

#tour-dates p {
  display: inline;
  font-size: 16px;
}


// octo
main{
  background-image: url('https://s3.amazonaws.com/myfangate.com/octonauts/volcano.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding-bottom: 200px !important;
}

.octonauts-btn{
  background-color: white;
  border-radius: 50px;
  border: 5px solid #005A84;
  color: #005A84;
  font-family: 'rosewood_stdfill';
  line-height: 31px;
  margin-left: 2px;
  margin-right: 2px;
  &:hover{
    background-color: white;
  }
}

footer{
  background-color: $orange !important;
  position: relative;
  z-index: 0;
  &:before{
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    top: -100px;
    background-image: url('https://s3.amazonaws.com/myfangate.com/octonauts/borderpattern.png');
    background-repeat: repeat-x;
    z-index: 2;
    background-position-x: -250px;
  }
}

.fixed{
  position: fixed !important;
  z-index: -1;
}

.above{
  position: relative;
  z-index: 99;
}

.contest-container, .tourdate-container{
  background-color: white;
  border: 10px solid $blue;
  border-radius: 50px;
  color: $blue;
  box-shadow: 0px 0px 20px 10px $orange;
}
