<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<meta name="description" content="Win Tickets to Octonauts LIVE!" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Octonauts LIVE Sweepstakes">
<meta itemprop="description" content="Win Tickets to Octonauts LIVE!">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/octonauts/shareimage.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Octonauts">
<meta name="twitter:title" content="Octonauts LIVE Sweepstakes">
<meta name="twitter:description" content="Win Tickets to Octonauts LIVE!">
<meta name="twitter:creator" content="@Octonauts">
<meta name="twitter:image" content="https://s3.amazonaws.com/myfangate.com/octonauts/shareimage.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Octonauts LIVE Sweepstakes" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://octonauts.herokuapp.com" />
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/octonauts/shareimage.jpg" />
<meta property="og:description" content="Win Tickets to Octonauts LIVE!" />
<meta property="og:site_name" content="Octonauts LIVE Sweepstakes" />
<title>Octonauts LIVE Sweepstakes</title>
