<div id="more-info" class="modal">
  <div class="modal-content">
    <h4>Prizing Information</h4>
    <b>THE VIP 'OCTONAUT EXPLORER’ PARTY PACKAGES INCLUDE</b>
    <ul>
      <li>- Invitation to the Octopod Explorer Party (after the show) including:</li>
      <li>
        <ul class="inner-list">
          <li>• Meet & Greet / Photo Opportunity with the Octonauts!</li>
          <li>• Interactive Octopod photo booth</li>
          <li>• Snacks and water</li>
          <li>• Explore, Rescue and Protect! activities and games</li>
        </ul>
      </li>
      <li>- Exclusive Octonaut Explorer party gift</li>
      <li>- Early venue entry with crowd-free merchandise shopping before doors</li>
      <li>- On-site Exploration Guide</li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
  </div>
</div>

<div id="rules-modal" class="modal">
  <div class="modal-content">
    <h4>Rules, Terms & Conditions</h4>
    <p>
      NO PURCHASE NECESSARY. MANY WILL ENTER, FEW WILL WIN. Certain Restrictions Apply. (10) Grand prizes are available. Sweepstakes
       to open persons of the United States within any of the markets Octonauts Live will be touring through in 2016. Sweepstakes begin at 12:00pm ET on TBD, and ends at 11:59pm ET on TBD.
    </p>
    <p>
      Grand prize winners will receive a total of 4 tickets to a show of their choosing, which will include 4 VIP Party Packages.  If selected you will receive an email confirming your 4 tickets + VIP Party Packages.  We will need a full name of the person picking up the tickets + VIP Packages.  That’s person’s name will need to match a valid ID.  Once confirmed additional details on how to pick up your tickets and Party Packages will be confirmed via email.
    </p>
    <b>THE VIP 'OCTONAUT EXPLORER’ PARTY PACKAGES INCLUDE</b>
    <ul>
      <li>- Invitation to the Octopod Explorer Party (after the show) including:</li>
      <li>
        <ul class="inner-list">
          <li>• Meet & Greet / Photo Opportunity with the Octonauts!</li>
          <li>• Interactive Octopod photo booth</li>
          <li>• Snacks and water</li>
          <li>• Explore, Rescue and Protect! activities and games</li>
        </ul>
      </li>
      <li>- Exclusive Octonaut Explorer party gift</li>
      <li>- Early venue entry with crowd-free merchandise shopping before doors</li>
      <li>- On-site Exploration Guide</li>
    </ul>
    <p>
      Sweepstakes Sponsor: Octonauts Live (US). This sweepstakes is not sponsored, endorsed or administered by, or associated with, Facebook, nor is Facebook associated with the Sweepstakes in any way.
       Any questions, comments, or complaints regarding the Sweepstakes must be directed to the Sponsor, and not to Facebook.
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
  </div>
</div>

