<div class="row octoheader">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l10 offset-l1">
        <img class="full-w logo" src="https://s3.amazonaws.com/myfangate.com/octonauts/logo.png">
      </div>
      <div class="col s6 offset-s3 m6 offset-m3 l6 offset-l3">
        <img class="full-w characters" src="https://s3.amazonaws.com/myfangate.com/octonauts/characters.png">
      </div>
    </div>
  </div>
  <div class="bubbles"></div>
  <div class="octopod">
    <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/octonauts/octopod.png">
  </div>
</div>
<div class="row cta above">
  <div class="col s12 center-align">
    <h1 class="white-text">This will be the CTA</h1>
  </div>
</div>
