<div class="row octoheader">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l10 offset-l1">
        <img class="full-w logo" src="https://s3.amazonaws.com/myfangate.com/octonauts/logo.png">
      </div>
      <div class="col s6 offset-s3 m6 offset-m3 l6 offset-l3">
        <img class="full-w characters" src="https://s3.amazonaws.com/myfangate.com/octonauts/characters.png">
      </div>
    </div>
  </div>
  <div class="bubbles"></div>
  <div class="octopod">
    <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/octonauts/octopod.png">
  </div>
  <img class="tunip hide-on-med-and-down" src="https://s3.amazonaws.com/myfangate.com/octonauts/tunip.png">
</div>
<div class="row cta">
  <div class="col s12 center-align">
    <h2 class="white-text no-margin above first-h1">Enter your email and share</h2>
    <h2 class="white-text no-margin above">this page for your chance to win!</h2>
  </div>
</div>
