<footer class="page-footer">
  <div class="container">
    <div class="row pad-top">
      <div class="col l9 m9 s12">
        <h2 class="hide-on-med-and-up white-text">Legal</h2>
        <h5 class="hide-on-small-only white-text">Legal</h5>
          <div class="col s12">
            <div class="row">
              <div class="col s12 m9">
                <p class="white-text">OCTONAUTS™ OCTOPOD™ Meomi Design Inc. OCTONAUTS Copyright © 2016 Vampire Squid Productions Ltd, a member of the Silvergate Media group of companies. All rights reserved.</p>
                <div class="row">
                  <div class="col s5 center-align">
                    <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/octonauts/logos.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col l3 m3 s12">
        <h2 class="hide-on-med-and-up white-text">Get Connected</h2>
        <h5 class="hide-on-small-only white-text">Get Connected</h5>
        <ul>
          <li><a class="white-text" target="_blank" href="https://www.facebook.com/octonautslive"><i class="fa fa-facebook-square"></i> Facebook</a></li>
          <li><a class="white-text" target="_blank" href="http://octonautsliveus.com/"><i class="fa fa-globe"></i> Website</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container white-text">
      Copyright © 2016 Vampire Squid Productions Ltd
    </div>
  </div>
</footer>
